<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chitchat - chat messenger html templlete</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Chitchat">
    <meta name="keywords" content="Chitchat">
    <meta name="author" content="Chitchat">
</head>
<body style="background: #e4e9f0;"> 
<table class="table_full editable-bg-color bg_color_e6e6e6 editable-bg-image" bgcolor="#e6e6e6" width="100%" align="center" mc:repeatable="castellab" mc:variant="Header" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <!-- <tr><td height="70"></td></tr> -->
        <tr>
            <td>
	    <tr>
		<td>
			<!-- container -->
            <table class="table1 editable-bg-color bg_color_303f9f" bgcolor="#e6e6e6" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto 0;">
               <tbody>
                <tr>
                    <td>
                <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td height="22"></td>
                        </tr>
                        <tr>
                            <td align="center" class="editable-img">
                                <a href="#">
                                    <img editable="true" mc:edit="image001"
                                        src="../../public/Assets/logo/Popolr.png" width="120"
                                        style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="logo">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td height="22"></td>
                        </tr>
                    </tbody>
                </table>
                </td>
                </tr>
        </tbody>
            </td>
        </tr>
	<!-- header -->
	<tr>
		<td>
			<!-- container -->
			<table class="table1 editable-bg-color bg_color_303f9f" bgcolor="#E68C45" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
				<!-- padding-top -->
				<tbody><tr><td height="25"></td></tr>
				<tr>
					<td>
						<!-- Inner container -->
						<table class="table1" width="520" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
							<tbody>
                                

							<!-- horizontal gap -->
							<tr><td height="60"></td></tr>

							<tr>
								<td align="center">
									<div class="editable-img">
										<img editable="true" mc:edit="image003" src="http://castellab.com/emails/notificationapp/images/circle-icon-basket.png" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="40"></td></tr>

							<tr>
								<td mc:edit="text001" align="center" class="text_color_ffffff" style="color: #ffffff; font-size: 30px; font-weight: 700; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text">
										<span class="text_container">
											<multiline>
												Order Details
											</multiline>
										</span>
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="30"></td></tr>

							<tr>
								<td mc:edit="text002" align="center" class="text_color_ffffff" style="color: #ffffff; font-size: 12px; font-weight: 300; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text">
										<span class="text_container">
											<multiline>
												8 Dec, 2015
											</multiline>
										</span>
									</div>
								</td>
							</tr>
						</tbody></table><!-- END inner container -->
					</td>
				</tr>
				<!-- padding-bottom -->
				<tr><td height="60"></td></tr>
			</tbody></table><!-- END container -->
		</td>
	</tr>

	<!-- body -->
	<tr>
		<td>
			<!-- container -->
			<table class="table1 editable-bg-color bg_color_ffffff" bgcolor="#ffffff" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
				<!-- padding-top -->
				<tbody><tr><td height="60"></td></tr>

				<tr>
					<td>
						<!-- inner container -->
						<table class="table1" width="520" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">

							<tbody><tr>
								<td mc:edit="text003" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 18px; font-weight: 700; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text">
										<span class="text_container">
											<multiline>Hello John Klem here is Your Cart ,</multiline>
										</span>
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="10"></td></tr>

							<tr>
								<td mc:edit="text004" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 14px;line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text" style="line-height: 2;">
										<span class="text_container">
											<multiline>
												Here is a summary of your recent order made on Dec 15, 2015. You can also view your order in the <strong>Purchases</strong> section of your <strong>account</strong>.
											</multiline>
										</span>
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="50"></td></tr>
							<!-- product-1 -->
							<tr>
								<td>
									<!-- column-1  -->
									<table class="table1-2" width="125" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td align="center">
												<a href="#" style="border-style: none !important; display: block; border: 0 !important;" class="editable-img">
													<img editable="true" mc:edit="image004" src="http://demo.yolotheme.com/organisk/wp-content/uploads/2016/12/6.png" style="display:block; line-height:0; font-size:0; border:0;width: 126px;" border="0" alt="">
												</a>
											</td>
										</tr>
										<!-- margin-bottom -->
										<tr><td height="30"></td></tr>
									</tbody></table><!-- END column-1 -->

									<!-- vertical gap -->
									<table class="tablet_hide" width="40" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr><td height="1"></td></tr>
									</tbody></table>

									<!-- column-2  -->
									<table class="table1-2" width="350" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td mc:edit="text005" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 14px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
												<div class="editable-text">
													<span class="text_container">
														<multiline>
															Purple Grapes
														</multiline>
													</span>
												</div>
											</td>
										</tr>
										<!-- horizontal gap -->
										<tr><td height="5"></td></tr>

										<tr>
											<td mc:edit="text006" align="left" class="center_content text_color_b0b0b0" style="color: #b0b0b0; font-size: 14px;line-height: 2; font-weight: 300; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
												<div class="editable-text" style="line-height: 2;">
													<span class="text_container">
														<multiline>
															Organic means working with nature, not against it. It means higher levels of animal welfare
														</multiline>
													</span>
												</div>
											</td>
										</tr>
										<!-- horizontal gap -->
										<tr><td height="10"></td></tr>
										<tr>
											<td>
												<!-- sub-column-1  -->
												<table class="table1-2" align="left" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
														<td mc:edit="text007" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>PRICE</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text008" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>QTY</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text009" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>SUBTOTAL</multiline>
																</span>
															</div>
														</td>
													</tr>
													<tr><td height="5"></td></tr>
													<tr>
														<td mc:edit="text010" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>₹ 55.00 / Kg</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text011" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>2 Kg</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text012" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>₹ 110.00</multiline>
																</span>
															</div>
														</td>
													</tr>
													<!-- margin-bottom -->
													<tr><td height="20"></td></tr>
												</tbody></table><!-- END sub-column-1 -->

												<!-- vertical gap -->
												<table class="tablet_hide" width="40" align="left" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr><td height="1"></td></tr>
												</tbody></table>

												<!-- sub-column-2 -->
												<table class="table1-2" align="right" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
														<td>
															<table class="button_bg_color_303f9f center_button" bgcolor="#E68C45" width="80" height="30" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#E68C45; border-radius:3px;">
																<tbody><tr>
																	<td mc:edit="text013" align="center" valign="middle" style="color: #ffffff; font-size: 12px; font-weight: 400; font-family: 'Open Sans', Helvetica, sans-serif; mso-line-height-rule: exactly;" class="text_color_282828">
																		<div class="editable-text">
																			<span class="text_container">
																				<multiline>
																					<a href="#" style="text-decoration: none; color: #ffffff;">Read More</a>
																				</multiline>
																			</span>
																		</div>
																	</td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table><!-- END sub-column-2 -->
											</td>
										</tr>
										<!-- margin-bottom -->
										<tr><td height="30"></td></tr>
									</tbody></table><!-- END column-2 -->
								</td>
							</tr>

							<!-- product-2 -->
							<tr>
								<td>
									<!-- column-1  -->
									<table class="table1-2" width="125" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td align="center">
												<a href="#" style="border-style: none !important; display: block; border: 0 !important;" class="editable-img">
													<img editable="true" mc:edit="image005" src="http://demo.yolotheme.com/organisk/wp-content/uploads/2016/12/19.png" style="display:block; line-height:0; font-size:0; border:0;width: 126px;" border="0" alt="">
												</a>
											</td>
										</tr>
										<!-- margin-bottom -->
										<tr><td height="30"></td></tr>
									</tbody></table><!-- END column-1 -->

									<!-- vertical gap -->
									<table class="tablet_hide" width="40" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr><td height="1"></td></tr>
									</tbody></table>

									<!-- column-2  -->
									<table class="table1-2" width="350" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td mc:edit="text014" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 14px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
												<div class="editable-text">
													<span class="text_container">
														<multiline>Apple – American</multiline>
													</span>
												</div>
											</td>
										</tr>
										<!-- horizontal gap -->
										<tr><td height="5"></td></tr>

										<tr>
											<td mc:edit="text015" align="left" class="center_content text_color_b0b0b0" style="color: #b0b0b0; font-size: 14px;line-height: 2; font-weight: 300; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
												<div class="editable-text" style="line-height: 2;">
													<span class="text_container">
														<multiline>
															Organic means working with nature, not against it. It means higher levels of animal welfare
														</multiline>
													</span>
												</div>
											</td>
										</tr>
										<!-- horizontal gap -->
										<tr><td height="10"></td></tr>
										<tr>
											<td>
												<!-- sub-column-1  -->
												<table class="table1-2" align="left" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
														<td mc:edit="text016" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>PRICE</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text017" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>QTY</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text018" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>SUBTOTAL</multiline>
																</span>
															</div>
														</td>
													</tr>
													<tr><td height="5"></td></tr>
													<tr>
														<td mc:edit="text019" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>₹ 200.00 / Kg</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text020" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>1 Kg</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text021" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>₹ 200.00</multiline>
																</span>
															</div>
														</td>
													</tr>
													<!-- margin-bottom -->
													<tr><td height="20"></td></tr>
												</tbody></table><!-- END sub-column-1 -->

												<!-- vertical gap -->
												<table class="tablet_hide" width="40" align="left" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr><td height="1"></td></tr>
												</tbody></table>

												<!-- sub-column-2 -->
												<table class="table1-2" align="right" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
														<td>
															<table class="button_bg_color_303f9f center_button" bgcolor="#E68C45" width="80" height="30" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#E68C45; border-radius:3px;">
																<tbody><tr>
																	<td mc:edit="text022" align="center" valign="middle" style="color: #ffffff; font-size: 12px; font-weight: 400; font-family: 'Open Sans', Helvetica, sans-serif; mso-line-height-rule: exactly;" class="text_color_282828">
																		<div class="editable-text">
																			<span class="text_container">
																				<multiline>
																					<a href="#" style="text-decoration: none; color: #ffffff;">Read More</a>
																				</multiline>
																			</span>
																		</div>
																	</td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table><!-- END sub-column-2 -->
											</td>
										</tr>
										<!-- margin-bottom -->
										<tr><td height="30"></td></tr>
									</tbody></table><!-- END column-2 -->
								</td>
							</tr>

							<!-- product-3 -->
							<tr>
								<td>
									<!-- column-1  -->
									<table class="table1-2" width="125" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td align="center">
												<a href="#" style="border-style: none !important; display: block; border: 0 !important;" class="editable-img">
													<img editable="true" mc:edit="image006" src="http://demo.yolotheme.com/organisk/wp-content/uploads/2016/12/40.png" style="display:block; line-height:0; font-size:0; border:0;width: 126px;" border="0" alt="">
												</a>
											</td>
										</tr>
										<!-- margin-bottom -->
										<tr><td height="30"></td></tr>
									</tbody></table><!-- END column-1 -->

									<!-- vertical gap -->
									<table class="tablet_hide" width="40" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr><td height="1"></td></tr>
									</tbody></table>

									<!-- column-2  -->
									<table class="table1-2" width="350" align="left" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td mc:edit="text023" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 14px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
												<div class="editable-text">
													<span class="text_container">
														<multiline>Bell Pepper</multiline>
													</span>
												</div>
											</td>
										</tr>
										<!-- horizontal gap -->
										<tr><td height="5"></td></tr>

										<tr>
											<td mc:edit="text024" align="left" class="center_content text_color_b0b0b0" style="color: #b0b0b0; font-size: 14px;line-height: 2; font-weight: 300; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
												<div class="editable-text" style="line-height: 2;">
													<span class="text_container">
														<multiline>
															Organic means working with nature, not against it. It means higher levels of animal welfare
														</multiline>
													</span>
												</div>
											</td>
										</tr>
										<!-- horizontal gap -->
										<tr><td height="10"></td></tr>
										<tr>
											<td>
												<!-- sub-column-1  -->
												<table class="table1-2" align="left" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
														<td mc:edit="text025" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>PRICE</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text026" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>QTY</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text027" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 12px; font-weight: 600; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>SUBTOTAL</multiline>
																</span>
															</div>
														</td>
													</tr>
													<tr><td height="5"></td></tr>
													<tr>
														<td mc:edit="text028" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>₹ 9.00 / Kg</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text029" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>3 Kg</multiline>
																</span>
															</div>
														</td>

														<td width="10"></td>

														<td mc:edit="text030" align="left" class="center_content text_color_303f9f" style="color: #E68C45; font-size: 12px; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
															<div class="editable-text">
																<span class="text_container">
																	<multiline>₹ 27.00</multiline>
																</span>
															</div>
														</td>
													</tr>
													<!-- margin-bottom -->
													<tr><td height="20"></td></tr>
												</tbody></table><!-- END sub-column-1 -->

												<!-- vertical gap -->
												<table class="tablet_hide" width="40" align="left" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr><td height="1"></td></tr>
												</tbody></table>

												<!-- sub-column-2 -->
												<table class="table1-2" align="right" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
														<td>
															<table class="button_bg_color_303f9f center_button" bgcolor="#E68C45" width="80" height="30" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#E68C45; border-radius:3px;">
																<tbody><tr>
																	<td mc:edit="text031" align="center" valign="middle" style="color: #ffffff; font-size: 12px; font-weight: 400; font-family: 'Open Sans', Helvetica, sans-serif; mso-line-height-rule: exactly;" class="text_color_282828">
																		<div class="editable-text">
																			<span class="text_container">
																				<multiline>
																					<a href="#" style="text-decoration: none; color: #ffffff;">Read More</a>
																				</multiline>
																			</span>
																		</div>
																	</td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table><!-- END sub-column-2 -->
											</td>
										</tr>
										<!-- margin-bottom -->
										<tr><td height="30"></td></tr>
									</tbody></table><!-- END column-2 -->
								</td>
							</tr>
						</tbody></table><!-- END inner container -->
					</td>
				</tr>
				<!-- padding-bottom -->
				<tr><td height="30"></td></tr>
			</tbody></table><!-- END container -->
		</td>
	</tr>

	<!-- footer -->
	<tr>
		<td>
			<!-- container -->
			<table class="table1" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
				<!-- padding-top -->
				<tbody><tr><td height="40"></td></tr>

				<tr>
					<td>
						<!--  column-1 -->
						<table class="table1-2" width="350" align="left" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td mc:edit="text032" align="left" class="center_content text_color_929292" style="color: #929292; font-size: 14px; line-height: 2; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text" style="line-height: 2;">
										<span class="text_container">
											<multiline>
												You are receving this newsletter because you subscribed to our mailing list via :<a href="#" style="color: #E68C45;text-decoration: none;"> yourwebsite.com</a>
											</multiline>
										</span>
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="20"></td></tr>

							<!-- <tr>
								<td mc:edit="text033" align="left" class="center_content" style="font-size: 14px;font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text">
										<span class="text_container">
											<multiline>
												<a href="#" class="text_color_929292" style="color:#929292; text-decoration: none;">Visit FAQ</a>
											</multiline>
										</span>
									</div>
								</td>
							</tr> -->

							<!-- horizontal gap -->
							<!-- <tr><td height="10"></td></tr>

							<tr>
								<td mc:edit="text034" align="left" class="center_content" style="font-size: 14px;font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text">
										<span class="text_container">
											<multiline>
												<a href="#" class="text_color_929292" style="color:#929292; text-decoration: none; display: block;">Unsubscribe</a>
											</multiline>
										</span>
									</div>
								</td>
							</tr> -->

							<!-- margin-bottom -->
							<tr><td height="30"></td></tr>
						</tbody></table><!-- END column-1 -->

						<!-- vertical gap -->
						<table class="tablet_hide" width="130" align="left" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr><td height="1"></td></tr>
						</tbody></table>

						<!-- column-2  -->
						<table class="table1-2" width="120" align="right" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td>
									<table width="120" align="center" style="margin: 0 auto;">
										<tbody><tr>
											<!-- facebook -->
											<td align="center" width="30">
												<a href="#" style="border-style: none !important; display: inline-block;; border: 0 !important;" class="editable-img">
													<img editable="true" mc:edit="image007" src="http://castellab.com/emails/notificationapp/images/icon-fb.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
												</a>
											</td>

											<!-- vertical gap -->
											<td width="15"></td>

											<!-- twitter -->
											<td align="center" width="30">
												<a href="#" style="border-style: none !important; display: inline-block; border: 0 !important;" class="editable-img">
													<img editable="true" mc:edit="image008" src="http://castellab.com/emails/notificationapp/images/icon-twitter.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
												</a>
											</td>

											<!-- vertical gap -->
											<td width="15"></td>

											<!-- google+ -->
											<td align="center" width="30">
												<a href="#" style="border-style: none !important; display: inline-block;; border: 0 !important;" class="editable-img">
													<img editable="true" mc:edit="image009" src="http://castellab.com/emails/notificationapp/images/icon-gp.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
												</a>
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<!-- margin-bottom -->
							<tr><td height="30"></td></tr>
						</tbody></table><!-- END column-2 -->
					</td>
				</tr>

				<!-- padding-bottom -->
				<tr><td height="70"></td></tr>
			</tbody></table><!-- END container -->
		</td>
	</tr>
</tbody></table>
</body>
</html>