<!DOCTYPE html>
<html lang="en">

<head>
    <title>Popolr - Social Commerece</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Chitchat">
    <meta name="keywords" content="Chitchat">
    <meta name="author" content="Chitchat">
</head>

<body style="background: #e4e9f0;">
    <table style="width:612px;padding:0px;" cellspacing="0" width="100%" align="center">
        <tr align="center">
            <td>
                <!-- <a style="margin:0 0 0 10px;display:inline-block" href="javascript:;"
                                                target="_blank">

                                                <img src="https://ci6.googleusercontent.com/proxy/juPZbUDLfx-eBdV5soUf_tQ9yToz3lEF1PE2s3Cx5gtssbxO0ArcANTD4uzYonsSqgKzOY6GI47_VhyQYUXqCa7Y7_eN8U4JUzIgNGCj8GLBshvpapWdQMZeOA=s0-d-e1-ft#http://https://www.bbassets.com/static/uiv2/images/bb_logo_email_new.png"
                                                    alt="BigBasket.com" class="CToWUd">
                                            </a> -->
                <a style="margin:20px 0 0 0px;display:inline-block" href="javascript:;" target="_blank">

                    <img src="../../public/Assets/logo/Popolr.png" alt="Popolr" class="" width="150">
                </a>
            </td>
        </tr>
        <tbody>
            <tr>
                <td>
                    <table cellspacing="0"
                        style="background:#fff;border-color: #E5E5E5;border-style: solid;border-width: 1px 1px 1px 1px;border-radius: 5px;">
                        <tbody>
                            <tr
                                style="width:100%;border-color: #E5E5E5;border-style: solid;border-width: 1px 1px 1px 1px;padding:0px">
                                <td style="padding:0px">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                        style="margin:0 auto;background:#fff;margin:0 0px 0px;border: 1px solid #E5E5E5;">
                                        <tbody>
                                            <tr>
                                                <td>

                                                    <table cellpadding="0" cellspacing="0" border="0"
                                                        style="width:100%;">

                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="width:100%;background: #fff;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><br>
                                                                                    <span
                                                                                        style="font-family:Arial,Helvetica,sans-serif;color:#000;font-size:14px;font-weight:normal;text-align:left;padding:10px">Dear
                                                                                        Admin,</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-family:Arial,Helvetica,sans-serif;color:#000;font-size:14px;font-weight:normal;text-align:left;padding:15px 10px 15px">
                                                                                    Order Details of Bharat (Customer
                                                                                    Name) and some text
                                                                                </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="background: #fff;text-align:left;font-family:Arial,Helvetica,sans-serif;padding:10px 15px;">
                                                                    <table style="width:100%;font-size:10px;color:#000"
                                                                        cellpadding="0" cellspacing="0" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="height:20px;color:#000;width:80px;font-size:
                                                                                    11px;font-family:Arial,Helvetica,sans-serif;">
                                                                                    Order No:</td>
                                                                                <td style="height:20px;font-weight:bold;font-size:
                                                                                    11px;">
                                                                                    <a style="text-decoration:none;color:#0062cc;font-size:11px;font-family:Arial,Helvetica,sans-serif;"
                                                                                        href="javascript:;"
                                                                                        target="_blank">DX-MBO-134681873-070820</a>
                                                                                </td>
                                                                                <td
                                                                                    style="color:#000;font-size:11px;font-family:Arial,Helvetica,sans-serif;">
                                                                                    Delivery slot:</td>
                                                                                <td
                                                                                    style="font-weight:bold;width:145px;padding-right:30px;font-size:11px;font-family:Arial,Helvetica,sans-serif;">
                                                                                    Sat 08 Aug 2020 between 09:00 AM and
                                                                                    11:00 AM</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="height:20px;color:#000;width:80px;font-size:
                                                                                    11px;font-family:Arial,Helvetica,sans-serif;padding-top: 10px;">
                                                                                    Mode of Payment:</td>
                                                                                <td
                                                                                    style="height:20px;font-weight:bold;font-size: 11px;padding-top: 10px;">
                                                                                    <p
                                                                                        style="text-decoration:none;color:#0062cc;font-size:11px;font-family:Arial,Helvetica,sans-serif;">
                                                                                        Cash on
                                                                                        delivery</p>
                                                                                </td>
                                                                                <td
                                                                                    style="color:#000;font-size:11px;font-family:Arial,Helvetica,sans-serif;padding-top: 10px;">
                                                                                    Payment Status:</td>
                                                                                <td
                                                                                    style="font-weight:bold;width:145px;padding-right:30px;font-size:11px;font-family:Arial,Helvetica,sans-serif;color: #1BC5BD;padding-top: 10px;">
                                                                                    Success
                                                                                </td>
                                                                                <!-- <td
                                                                                    style="font-weight:bold;width:145px;padding-right:30px;font-size:11px;font-family:Arial,Helvetica,sans-serif;color: #FFA800;padding-top: 10px;">
                                                                                    Pending
                                                                                </td>
                                                                                <td
                                                                                    style="font-weight:bold;width:145px;padding-right:30px;font-size:11px;font-family:Arial,Helvetica,sans-serif;color: #F64E60;padding-top: 10px;">
                                                                                    Failed
                                                                                </td> -->
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#000;font-size:11px;font-family:Arial,Helvetica,sans-serif;vertical-align: top;padding-top: 10px;">
                                                                                    Delivery address:</td>
                                                                                <td colspan="5"
                                                                                    style="font-weight:bold;width:145px;padding-right:30px;font-size:11px;font-family:Arial,Helvetica,sans-serif;padding-top: 10px;">
                                                                                    Bharat Gupta,<br>
                                                                                    FF-2,<br>
                                                                                    172, 4th Cross Rd, Sai Enclave, JP
                                                                                    Nagar
                                                                                    7th Phase,<br>

                                                                                    Iris Marvel,<br>

                                                                                    Arekere,<br>
                                                                                    Bangalore - 560076<br>
                                                                                    Phone Numbers: 9901307440
                                                                                </td>
                                                                                <!-- <td colspan="6"
                                                                                    style="font-size:11px;font-family:Arial,Helvetica,sans-serif;">
                                                                                    <p
                                                                                        style="margin:10px 0 6px;font-size: 11px;">
                                                                                        Your
                                                                                        order
                                                                                        will be delivered to this
                                                                                        address:
                                                                                    </p>
                                                                                    
                                                                                </td> -->
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table align="center" width="100%" border="0"
                                                                        cellspacing="0" cellpadding="0"
                                                                        style="font-size:11px">
                                                                        <tbody>
                                                                            <tr style="height: 30px;">
                                                                                <td
                                                                                    style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;text-align:left;background-color:#E68C45;line-height:22px;padding-left:15px;font-weight:bold;width:35px">
                                                                                    Sl No.</td>
                                                                                <td
                                                                                    style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;text-align:left;background-color:#E68C45;line-height:22px;padding-left:3px;font-weight:bold;width:240px">
                                                                                    Item Details
                                                                                </td>
                                                                                <td
                                                                                    style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;text-align:center;background-color:#E68C45;line-height:22px;padding-left:3px;font-weight:bold;width:30px">
                                                                                    Qty.
                                                                                </td>
                                                                                <td
                                                                                    style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;text-align:center;background-color:#E68C45;line-height:22px;padding-left:3px;font-weight:bold;width:70px">
                                                                                    Unit Price
                                                                                </td>
                                                                                <td
                                                                                    style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;text-align:center;background-color:#E68C45;line-height:22px;padding-left:3px;font-weight:bold;width:70px">
                                                                                    Sub Total
                                                                                </td>

                                                                                <td
                                                                                    style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff;text-align:center;background-color:#E68C45;line-height:22px;padding-left:3px;font-weight:bold;width:75px;padding-right: 15px;">
                                                                                    Savings
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="6" width="250"
                                                                                    style="border:1px solid #E1F0FF;background:#E1F0FF;color:#3699FF;padding:8px 25px;text-transform:uppercase;font-size: 12px;font-family:Arial,Helvetica,sans-serif;font-weight: 800;padding-left:15px;">
                                                                                    DRY ITEMS</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="8" width="250"
                                                                                    style="background:#F3F6F9;color:#3F4254 !important;padding:7px 25px;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-weight: 800;padding-left:15px;">
                                                                                    Foodgrains, Oil &amp; Masala</td>

                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#ffffff;font-size:11px;font-family:arial;color:#000;line-height:18px">
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 15px">
                                                                                    1
                                                                                </td>
                                                                                <td
                                                                                    style="width:240px;padding:3px 0 3px 3px">
                                                                                    <label style="line-height:18px">
                                                                                        <a style="text-decoration:none;color: #0062cc;"
                                                                                            href="javascript:;"
                                                                                            target="_blank">
                                                                                            bb Popular Black Pepper/Kali
                                                                                            Mirch 200 g </a>
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 3px;width:30px">
                                                                                    <label>1</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;width:70px;padding:3px 0 3px 3px">
                                                                                    <label>
                                                                                        Rs. 138.00
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 3px;width:70px">
                                                                                    <label>Rs.
                                                                                        138.00</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 15px 3px 3px;width:75px">
                                                                                    <label>Rs. 62.00 </label>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#ffffff;font-size:11px;font-family:arial;color:#000;line-height:18px">
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 15px">
                                                                                    2
                                                                                </td>
                                                                                <td
                                                                                    style="border-top:1px dotted #cccccc;width:240px;padding:3px 0 3px 3px">
                                                                                    <label style="line-height:18px">

                                                                                        <a style="text-decoration:none;color: #0062cc;"
                                                                                            href="javascript:;"
                                                                                            target="_blank">
                                                                                            bb Popular Sugar 5 kg </a>

                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:30px">
                                                                                    <label>1</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;width:70px;padding:3px 0 3px 3px">
                                                                                    <label>
                                                                                        Rs. 212.00
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:70px">
                                                                                    <label>Rs.
                                                                                        212.00</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 15px 3px 3px;width:75px">
                                                                                    <label>Rs. 63.00 </label>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#ffffff;font-size:11px;font-family:arial;color:#000;line-height:18px">
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 15px">
                                                                                    3
                                                                                </td>
                                                                                <td
                                                                                    style="border-top:1px dotted #cccccc;width:240px;padding:3px 0 3px 3px">
                                                                                    <label style="line-height:18px">

                                                                                        <a style="text-decoration:none;color: #0062cc;"
                                                                                            href="javascript:;"
                                                                                            target="_blank">
                                                                                            Mr. Gold Coconut Oil 1 L
                                                                                        </a>

                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:30px">
                                                                                    <label>1</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;width:70px;padding:3px 0 3px 3px">
                                                                                    <label>
                                                                                        Rs. 231.00
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:70px">
                                                                                    <label>Rs.
                                                                                        231.00</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 15px 3px 3px;width:75px">
                                                                                    <label>Rs. 43.00 </label>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="6" width="250"
                                                                                    style="background:#F3F6F9;color:#3F4254 !important;padding:7px 25px 7px 15px;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-weight: 800;">
                                                                                    Beverages</td>

                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#ffffff;font-size:11px;font-family:arial;color:#000;line-height:18px">
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 15px">
                                                                                    1
                                                                                </td>
                                                                                <td
                                                                                    style="width:240px;padding:3px 0 3px 3px">
                                                                                    <label style="line-height:18px">

                                                                                        <a style="text-decoration:none;color: #0062cc;"
                                                                                            href="javascript:;"
                                                                                            target="_blank">
                                                                                            Real Juice - Fruit Power,
                                                                                            Cranberry 1 L </a>

                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 3px;width:30px">
                                                                                    <label>1</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;width:70px;padding:3px 0 3px 3px">
                                                                                    <label>
                                                                                        Rs. 102.00
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 3px;width:70px">
                                                                                    <label>Rs.
                                                                                        102.00</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 15px 3px 3px;width:75px">
                                                                                    <label>Rs. 13.00 </label>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="8" width="250"
                                                                                    style="background:#F3F6F9;color:#3F4254 !important;padding:7px 25px 7px 15px;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-weight: 800;">
                                                                                    Cleaning &amp; Household</td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#ffffff;font-size:11px;font-family:arial;color:#000;line-height:18px">
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 15px">
                                                                                    1
                                                                                </td>
                                                                                <td
                                                                                    style="width:240px;padding:3px 0 3px 3px">
                                                                                    <label style="line-height:18px">

                                                                                        <a style="text-decoration:none;color: #0062cc;"
                                                                                            href="javascript:;"
                                                                                            target="_blank">
                                                                                            Kiwi Dranex Drain Cleaner 50
                                                                                            g
                                                                                            Pouch </a>
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 3px;width:30px">
                                                                                    <label>4</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;width:70px;padding:3px 0 3px 3px">
                                                                                    <label>
                                                                                        Rs. 25.00
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 0 3px 3px;width:70px">
                                                                                    <label>Rs.
                                                                                        100.00</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;padding:3px 15px 3px 3px">
                                                                                    <label>&nbsp;</label></td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#ffffff;font-size:11px;font-family:arial;color:#000;line-height:18px">
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 15px">
                                                                                    2
                                                                                </td>
                                                                                <td
                                                                                    style="border-top:1px dotted #cccccc;width:240px;padding:3px 0 3px 3px">
                                                                                    <label style="line-height:18px">

                                                                                        <a style="text-decoration:none;color: #0062cc;"
                                                                                            href="javascript:;"
                                                                                            target="_blank">
                                                                                            Sabena Cleaning Powder 1 kg
                                                                                            Pouch </a>

                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:30px">
                                                                                    <label>2</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;width:70px;padding:3px 0 3px 3px">
                                                                                    <label>
                                                                                        Rs. 26.00
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:70px">
                                                                                    <label>Rs.
                                                                                        52.00</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 15px 3px 3px">
                                                                                    <label>&nbsp;</label></td>
                                                                            </tr>


                                                                            <tr
                                                                                style="background-color:#ffffff;font-size:11px;font-family:arial;color:#000;line-height:18px">
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 15px">
                                                                                    3
                                                                                </td>
                                                                                <td
                                                                                    style="border-top:1px dotted #cccccc;width:240px;padding:3px 0 3px 3px">
                                                                                    <label style="line-height:18px">

                                                                                        <a style="text-decoration:none;color: #0062cc;"
                                                                                            href="javascript:;"
                                                                                            target="_blank">
                                                                                            Wheel Detergent Powder -
                                                                                            Green
                                                                                            Lemon &amp; Jasmine 1 kg
                                                                                        </a>

                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:30px">
                                                                                    <label>1</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;width:70px;padding:3px 0 3px 3px">
                                                                                    <label>
                                                                                        Rs. 49.00
                                                                                    </label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 0 3px 3px;width:70px">
                                                                                    <label>Rs.
                                                                                        49.00</label>
                                                                                </td>
                                                                                <td
                                                                                    style="text-align:center;border-top:1px dotted #cccccc;padding:3px 15px 3px 3px;width:75px">
                                                                                    <label>Rs. 4.00 </label>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#fff;font-weight:bold;color:#000;font-family:arial">
                                                                                <td colspan="4"
                                                                                    style="text-align:right;white-space:nowrap;line-height:26px;border-top:1px solid #cccccc">
                                                                                    Sub Total:</td>
                                                                                <td colspan="2"
                                                                                    style="text-align:left;padding-left:15px;border-top:1px solid #cccccc">
                                                                                    Rs. 884.00</td>
                                                                            </tr>


                                                                            <tr
                                                                                style="background-color:#fff;font-weight:bold;color:#000;font-family:arial">
                                                                                <td colspan="4"
                                                                                    style="text-align:right;white-space:nowrap;line-height:26px;border-top:1px solid #cccccc">
                                                                                    Delivery Charges:</td>
                                                                                <td colspan="2"
                                                                                    style="text-align:left;padding-left:15px;border-top:1px solid #cccccc">
                                                                                    Rs. 30.00</td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#fff;font-weight:bold;color:#000;font-family:arial">
                                                                                <td colspan="4"
                                                                                    style="text-align:right;white-space:nowrap;line-height:26px;border-top:1px solid #cccccc">
                                                                                    Free Delivery Token used:</td>
                                                                                <td colspan="2"
                                                                                    style="text-align:left;padding-left:15px;border-top:1px solid #cccccc">
                                                                                    Rs. -30.00</td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#fff;font-weight:bold;color:#000;font-family:arial">
                                                                                <td colspan="4"
                                                                                    style="text-align:right;white-space:nowrap;line-height:26px;border-top:1px solid #cccccc">
                                                                                    Debit applied from bigbasket Wallet:
                                                                                </td>
                                                                                <td colspan="2"
                                                                                    style="text-align:left;padding-left:15px;border-top:1px solid #cccccc">
                                                                                    Rs. 15.0</td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#fff;font-weight:bold;color:#000;font-family:arial">
                                                                                <td colspan="4"
                                                                                    style="text-align:right;white-space:nowrap;line-height:26px;border-top:1px solid #cccccc;font-weight:bold">
                                                                                    Total Savings:</td>
                                                                                <td colspan="2"
                                                                                    style="text-align:left;padding-left:15px;border-top:1px solid #cccccc;font-weight:bold;color:#cc0000">
                                                                                    Rs. 185.00 </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#fff;font-weight:bold;color:#000;font-family:arial">

                                                                                <td colspan="6"
                                                                                    style="border-top:1px solid #cccccc;border-top:1px solid #666;font-weight:bold;color:#F64E60 !important;">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>

                                                                            </tr>
                                                                            <tr
                                                                                style="background-color:#4d59950f;color:#3699FF;font-weight:bold;font-size:12px;font-family:arial">
                                                                                <td colspan="4"
                                                                                    style="text-align:right;white-space:nowrap;line-height:26px;font-weight:bold">
                                                                                    Final Total:
                                                                                </td>
                                                                                <td colspan="2"
                                                                                    style="text-align:left;padding-left:15px;white-space:nowrap;font-weight:bold">
                                                                                    Rs. 899.00
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>


                                                                </td>
                                                            </tr>
                                                            <tr style="background-color:#fff">
                                                                <td>
                                                                    <p
                                                                        style="color:#000;margin-bottom:25px;margin-left:15px;margin-right:0;margin-top:28px;line-height: 26px;font-size: 16px;">
                                                                        Thank you !<br>
                                                                        Team Popolr</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                </td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#F3F6F9" style="border-radius: 0px 0px 5px 5px;">
                                                    <table role="presentation" cellspacing="0" cellpadding="0"
                                                        border="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="padding: 20px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;">
                                                                    <p style="margin: 0;">Copyright © 2020
                                                                        <b>Popolr</b>, All Rights Reserved.</p>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- <tr style="background:#EEF0F8;">
                                <td
                                    style="color:#000;font-family:Arial,Helvetica,sans-serif;font-size:11px;padding:16px">
                                    In case you need any assistance please do not hesitate to call our customer service
                                    on
                                    1860 123 1000 07:00 am to 10:00 pm on all days or email us at
                                    <a href="mailto:customerservice@bigbasket.com"
                                        style="color:#3699FF;;font-size:11px;text-decoration:none" target="_blank">
                                        customerservice@bigbasket.com.
                                    </a> All calls to our customer support number will be recorded for internal training
                                    and
                                    quality purposes.

                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>